body {
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ghost {
    height: 180px;
    width: 140px;
    background-color: #fff;
    border-radius: 75px 75px 0 0;
    position: relative;
    cursor: pointer;
    animation: float 2s infinite ease-in-out; 
}

@keyframes float {
    50% {
        transform: translateY(-35px);
    }
}

.face {
    position: absolute;
    width: 100px;
    top: 60px;
    left: calc(50% - 50px);
}

.eyes {
    height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}

.eyes span {
    width: 24px;
    height: 24px;
    background-color: #2d2d2d;
    border-radius: 50%;
    transition: height .25s;
}

.ghost:hover .eyes span {
    height: 15px;
}

.mouth{
    width: 40px;
    height: 20px;
    background-color: #2d2d2d;
    margin: auto;
    border-radius: 0 0 20px 20px;
    transition: height .25s;
}

.ghost:hover .mouth {
    height: 12px;
}

.hands {
    width: 180px;
    height: 24px;
    position: absolute;
    top: 65px;
    left: -20px;
    display: flex;
    justify-content: space-between;
}

.hands span {
    width: 24px;
    height: 24px;
    background-color: #fff;
}

.hands span:first-child {
    border-radius: 24px 0 0 24px;
} 

.hands span:last-child {
    border-radius: 0 24px 24px 0;
} 

.feets {
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: -24px;
    display: flex;
}

.feets span {
    background-color: white;
    height: 24px;
    flex: 1;
    border-radius: 0 0 24px 24px;
}

.feets span:first-child {
    border-radius: 0 0 24px 12px;
}

.feets span:last-child {
    border-radius: 0 0 12px 24px;
}
